body {
    background-color: whitesmoke;
}

h1 {
     color: rgba(139, 10, 224, 0.507);
     background-color: rgba(255, 255, 255, 0.267);
     font-family: arial;
     font-weight: bold;
}

h3 {
     color: rgba(139, 10, 224, 0.507);
     background-color: whitesmoke;
     font-family: times new roman;
     font-weight: bold;
}

img {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

p {
   font-family: 'Times New Roman', Times, serif;
   font-size: 12
}

.container {
  background-color: whitesmoke;
}

.navbar {
         padding-left: 50px;
}

.navbar-brand {
               background-color: rgba(139, 10, 224, 0.507);
               font-family: arial;
               font-weight: bold;
               color: whitesmoke;
}

/* Here we define a navbar style that will ONLY be applied at screen sizes below 480 pixels */
@media (max-width: 480px) {
  .navbar {
    background-color: rgba(139, 10, 224, 0.507);
}

  .navbar-brand {
                 background-color: whitesmoke;
                 font-family: arial;
                 font-weight: bold;
                 color: rgba(139, 10, 224, 0.507);;
}
